<!DOCTYPE html>
<html>
  <head>
    <title>Rested</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/photon.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>

    <link rel="stylesheet" href="../bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../bower_components/codemirror/theme/eclipse.css">
    <script src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script src="../bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="../bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>

    <script src="js/rested.js" charset="utf-8"></script>

    <style>
    dialog {
      padding: 0;
      border: 1px solid #bebebe;
      border-radius: 6px;
      box-shadow: 0 0 30px rgba(0,0,0,.1);
      overflow: hidden;
      width:400px;
      &::backdrop {
          background: rgba(0,0,0,0.2);
      }
    }
    tr.selected {
      color: #fff;
      background-color: #116cd6;
    }
    span.http_header {
      font-size: 14pt;
      display: block;
      -webkit-user-select: text;
    }
    span.http_header code {
      -webkit-user-select: text;
    }
    code.header_name {
      font-weight: bold;
    }
    .request_settings {
      padding: 4px;
      border-bottom-style: inset;
    }
    pre.raw_view {
      height: 42vh;
      font-weight: bold;
      font-size: 14pt;
      -webkit-user-select: text;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    iframe.browser_view {
      height: 42vh;
      width: 100%;
      -webkit-user-select: text;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .CodeMirror {
      font-weight: bold;
      font-size: 14pt;
      height: 42vh;
    }
    .sidebar_list {
      height: 85vh;
      overflow-y: auto;
    }
    select.method {
      width: 100px;
      height: 32px;
      margin-left: 4px;
      margin-top: 4px;
    }
    input.url {
      width: 75%;
      margin-left: 4px;
      margin-top: 4px;
    }
    select.body_type {
      width: 0px;
      height: 0px;
      visibility: hidden;
    }
    a:visited {
      color: blue;
    }
    .http_status {
      margin-right: 4px;
    }
    .http_status_error {
      color: red;
    }
    input.header_field {
      width:165px;
      margin-right: 4px;
    }
    #requestHeaderEditorDialog form > div {
      height: 300px;
      overflow-y: auto;
    }
    </style>
  </head>
  <body ng-app="RestedApp" ng-controller="MainController as main">
    <div class="window">

      <!-- .toolbar-header sits at the top of your app -->
      <!-- <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
          <div class="btn-group">
            <button class="btn btn-default" title="Add a new server" ng-click="main.openNewServerDialog()">
              <span class="icon icon-plus"></span>
            </button>
          </div>
        <div>
      </header> -->

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <header class="toolbar toolbar-header">
              <div class="tab-group">
                <div class="tab-item" ng-click="main.sidebarTab = 'saved'" ng-class="{active: main.sidebarTab == 'saved'}">
                  Saved
                </div>
                <div class="tab-item" ng-click="main.sidebarTab = 'history'" ng-class="{active: main.sidebarTab == 'history'}">
                  History
                </div>
              </div>
              <div class="toolbar-actions">
                <div class="btn-group pull-right" ng-if="main.sidebarTab === 'saved'">
                  <button class="btn btn-default" title="Save current request" ng-click="main.openSaveDialog()">
                    <span class="icon icon-plus"></span>
                  </button>
                  <button class="btn btn-default" title="Remove selected request" ng-click="main.removeSelectedSavedRequest()">
                    <span class="icon icon-minus"></span>
                  </button>
                </div>
                <div class="btn-group pull-right" ng-if="main.sidebarTab === 'history'">
                  <button class="btn btn-default" title="Clear" ng-click="main.clearHistory()">
                    <span class="icon icon-trash"></span>
                  </button>
                </div>
              <div>
            </header>
            <nav class="nav-group sidebar_list" ng-if="main.sidebarTab === 'saved'">
              <span class="nav-group-item" ng-repeat="s in main.project.saved track by $index" ng-click="main.selectRequest(s)" ng-class="{active: main.selectedRequest === s}">
                <!-- <span class="icon icon-record"></span> -->
                {{s.name}}
              </span>
            </nav>
            <nav class="nav-group" ng-if="main.sidebarTab === 'history'">
              <input type="search" ng-model="main.searchText" ng-change="main.filterHistory()" class="form-control" placeholder="Search"/>
              <div class="sidebar_list">
                <span class="nav-group-item" ng-repeat="h in main.getFilteredHistory() track by $index" ng-click="main.selectRequest(h)" ng-class="{active: main.selectedRequest === h}">
                  <!-- <span class="icon icon-record"></span> -->
                  {{h.method}} {{h.url}}
                </span>
              </div>
            </nav>
          </div>

          <div class="pane">
            <div>
              <select class="form-control method" ng-model="main.request.method">
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
                <option>HEAD</option>
              </select>
              <input type="text" ng-model="main.request.url" class="form-control url" placeholder="http://example.com">
              <button class="btn btn-large btn-primary" ng-if="main.ongoingRequest === undefined" ng-click="main.commitRequest()">Go</button>
              <button class="btn btn-large btn-negative" ng-if="main.ongoingRequest !== undefined" ng-click="main.cancelRequest()">Cancel</button>
              <div class="request_settings">
                Body type:
                <select id="bodyTypeSelect" ng-model="main.request.contentType" ng-change="main.contentTypeChanged()" class="form-control body_type">
                  <option>text/plain</option>
                  <option>application/json</option>
                  <option>application/xml</option>
                  <option>text/xml</option>
                  <option value="">None</option>
                </select>
                <a href ng-click="main.showBodyTypeMenu()">{{main.request.contentType === "" ? "None" : main.request.contentType}}</a>&nbsp;
                <a href title="Edit request headers" ng-click="main.openRequestHeaderEditorDialog()">Edit headers</a>
              </div>
              <ui-codemirror ui-codemirror-opts="main.requestEditorOptions" ng-model="main.request.body"></ui-codemirror>
            </div>

            <div>
              <header class="toolbar toolbar-header">
                <h1 class="title">Response</h1>

                <div class="toolbar-actions" align="center">
                  <span class="http_status" ng-class="{http_status_error: main.response.statusCode >= 400}" ng-if="main.response.statusCode !== undefined"><b>Status: </b>{{main.response.statusCode}} {{main.response.statusMessage}}</span>
                  <span class="http_status http_status_error" ng-if="main.response.errorMessage !== undefined"><span class="icon icon-alert"></span> {{main.response.errorMessage}}</span>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-class="{active: main.responseBodyFormat == 'pretty'}" title="Show formatted body" ng-click="main.responseBodyFormat = 'pretty'">
                      <span class="icon icon-list"></span> &nbsp;Pretty
                    </button>
                    <button class="btn btn-default" ng-class="{active: main.responseBodyFormat == 'raw'}" title="Show raw body" ng-click="main.responseBodyFormat = 'raw'">
                      <span class="icon icon-tools"></span> &nbsp;Raw
                    </button>
                    <button class="btn btn-default" ng-class="{active: main.responseBodyFormat == 'browser'}" title="Preview in browser" ng-click="main.responseBodyFormat = 'browser'" ng-if="main.responseIsHTML()">
                      <span class="icon icon-qq"></span> &nbsp;Browser
                    </button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-class="{active: main.showHeaders}" title="Show headers" ng-click="main.showHeaders = !main.showHeaders">
                      <span class="icon" ng-class="{'icon-down-open': !main.showHeaders, 'icon-up-open': main.showHeaders}"></span> &nbsp;Headers
                    </button>
                    <button class="btn btn-default" title="Copy body text" ng-click="main.copyText()">
                      <span class="icon icon-docs"></span> &nbsp;Copy
                    </button>
                  </div>
                </div>

                <div ng-if="main.showHeaders">
                  <span class="http_header" ng-repeat="(key, value) in main.response.headers">
                    <code class="header_name">{{key}}:</code> <code>{{value}}</code>
                  </span>
                </div>

              </header>

              <!-- Response data -->
              <div>
                <ui-codemirror ui-codemirror-opts="main.responseEditorOptions" ng-model="main.response.responseText" ng-if="main.responseBodyFormat == 'pretty'"></ui-codemirror>
                <pre class="raw_view" ng-if="main.responseBodyFormat == 'raw'">{{main.response.responseText}}</pre>
                <iframe class="browser_view" ng-if="main.responseBodyFormat == 'browser'" srcdoc="{{main.getResponseHTML()}}"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <dialog id="saveRequestDialog">
        <header class="toolbar toolbar-header">
            <h1 class="title">Save this request</h1>
        </header>

        <form style="padding: 10px">
          <div class="form-group">
              <label>Name:</label>
              <input type="text" class="form-control" ng-model="main.saveRequestName" placeholder="">
          </div>
        </form>

        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
                <button class="btn btn-primary pull-right" ng-click="main.saveRequest()" style="width:50pt">Save</button>
                <button class="btn btn-default pull-right" ng-click="main.closeSaveDialog()" style="width:50pt">Cancel</button>
            </div>
        </footer>
    </dialog>

    <dialog id="requestHeaderEditorDialog">
        <header class="toolbar toolbar-header">
            <h1 class="title">Edit request headers</h1>
        </header>

        <form style="padding: 10px">
          <div class="form-group">
            <div style="margin-bottom: 2px" ng-repeat="h in main.requestHeaderList">
              <input type="text" class="form-control header_field" ng-model="h.name" placeholder="Header name">
              <input type="text" class="form-control header_field" ng-model="h.value" placeholder="Header value">
              <button class="btn btn-default" title="Delete this header" ng-click="main.deleteRequestHeader($index)">
                <span class="icon icon-minus"></span>
              </button>
            </div>
            <button class="btn btn-default pull-right" title="Add a header" ng-click="main.addRequestHeader()">
              <span class="icon icon-plus"></span> Add
            </button>
          </div>
        </form>

        <footer class="toolbar toolbar-footer">
            <div class="toolbar-actions">
                <button class="btn btn-primary pull-right" ng-click="main.saveRequestHeaders()" style="width:50pt">Save</button>
                <button class="btn btn-default pull-right" ng-click="main.closeRequestHeaderEditorDialog()" style="width:50pt">Cancel</button>
            </div>
        </footer>
    </dialog>
  </body>
</html>
